body {
margin : 0;
padding : 0;
text-align : left;
font : 75% "Trebuchet MS", verdana, arial, sans-serif;
line-height : 1.5em;
background : #BCE0A8 url(../images/bg.jpg) top center repeat-y;
color : #000;
}
			/*CONTAINER*/
#wrapper {
position : relative;
width : 780px;
margin-right : auto;
margin-left : auto;
padding : 0;
border : 0px solid green;
background : #fff;
}
			/*TOP TITLE BAR*/
#title {
width : 770px;
margin-left : 5px;
padding : 0;
text-align : right;
background : #fff;
color : #000;
}
#title h1 {
margin : 0;
padding : 10px;
font-size : 175%;
text-transform : uppercase;
letter-spacing : 5px;
background : inherit;
color : #BCE0A8;
}
			/*BANNER*/
#header {
/*background : url(../images/head.jpg) no-repeat;*/
width : 770px;
height : 200px;
margin : 0 0 0 5px;
padding : 0 0 0 0;
}
			/*TOP NAVIGATION*/
.container {
width : 770px;
height : 35px;
margin : 20px 0 10px 5px;
}
#navCircle {
margin : 0;
padding : 0 0 20px 20px;
border-bottom : 1px solid #b2d094;
}
#navCircle li {
margin : 0;
padding : 0;
display : inline;
list-style-type : none;
}
#navCircle a:link, #navCircle a:visited {
float : left;
font-size : 1.3em;
padding : 0 25px 15px 25px;
text-decoration : none;
background : inherit;
color : #457C05;
}
#navCircle a:link.active, #navCircle a:visited.active, #navCircle a:hover {
background-color : inherit;
color : #000;
background : url(img/arrow.gif) no-repeat bottom center;
}
			/*MAIN CONTENT*/
#content {
width : 560px;
float : left;
margin-top : 0;
margin-left : 11px;
padding : 5px;
border-right : 1px solid #b2d094;
}
#content p {
padding : 0 20px;
}
			/*SIDEBAR*/
#right-col {
width : 175px;
margin : 5px 0 0 590px;
border-left : 1px none #28460a;
padding : 3px;
}
			/*FOOTER*/
#footer {
margin : 50px 0 0 0;
padding : 5px;
font : 90% "Trebuchet MS", verdana, arial, sans-serif;
background : #4b692d;
color : #fff;
}
#footer a:link, #footer a:visited {
background : inherit;
color : #b2d094;
}
#footer a:hover {
background : inherit;
color : #fff;
text-decoration : none;
}
			/*SCROLLBAR*/
div.scroll {
overflow : auto;
height : 10em;
width : 150px;
padding : 1ex;
margin : 0 0 30px 5px;
border : 1px solid #345411;
background : #BCE0A8;
color : #000;
}
			/*TYPOGRAPHY*/
h2 {
margin : 20px;
font-size : 140%;
text-transform : uppercase;
letter-spacing : 5px;
background : inherit;
color : green;
}
h3 {
margin : 5px;
font-size : 120%;
letter-spacing : 5px;
background : inherit;
color : green;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*LINKS*/
a img {
border : none;
}
a:link, a:visited {
text-decoration : none;
background : inherit;
color : #457C05;
}
a:hover {
text-decoration : underline;
background : inherit;
color : #666;
}
ul.side {
list-style-type : square;
padding : 0;
margin : 0;
background : inherit;
color : #457C05;
}
.side li {
padding-left : 0.2em;
margin-left : 2em;
}
			/*CLASSES*/
.news {
font-size : 90%;
background : inherit;
color : #000;
}
.imgleft {
float : left;
border : 1px solid #345411;
padding : 5px;
margin-right : 15px;
}
.imgright {
float : right;
border : 1px solid #345411;
padding : 5px;
margin-left : 15px;
}