/* 
    Document   : newcss
    Created on : May 21, 2014, 2:23:02 AM
    Author     : dj m.o.d
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body
{
    /*background-image:url("test.jpg");*/
    background-color: white;
    font-family: Tahoma;
}
a
{
    text-decoration: none;
}
h2, h3
{
    margin: 0;
}
#header
{

    background-color: white;
    text-align: center;
    color: white;
    padding: 20px
}
#header h1
{
    text-shadow: 5px 5px 5px black;
    margin: 0;
}
#container {
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#content
{
    padding: 10px;
}
#nav
{
    
    width: 180px;
    float: left;
}
#nav .selected
{
    font-weight: bold;
}
#nav ul
{
    list-style-type: none;
    padding: 0;
}
#main
{
    width: 600px;
    float: right;
}
#main .strt
{
    text-align: center;
    font-size: 30pt;
    color: purple;
}
#footer
{
    font-family: serif;
    background-color: white;
    clear: both;
    padding: 10px;
    text-align: right;
}